{% extends 'uniauth/base-site.html' %}

<!-- Page-specific headers -->
{% block head %}

<title>Uniauth | Link Account</title>

<style>
</style>

{% endblock %}

<!-- Page Content -->
{% block content %}

<div id="link-to-profile-form-spacer" class="spacer"></div>

<div id="link-to-profile-form-wrapper" class="uniauth-wrapper wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins shadow-lg">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <span id="link-to-profile-title" class="simple-title centered-title">Link CAS Account</span>
                                <span id="link-to-profile-intro" class="simple-followup">This Princeton CAS ID is not associated with any registered Uniauth account.</span>
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-lg-12">
                            <span id="link-to-profile-login-label" class="simple-followup">If you already have a Uniauth account, please login here:</span>
                            <form method="POST" class="post-form">
                                {% csrf_token %}

                                {% if form.non_field_errors %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group has-error">
                                            <span id="error-text" class="form-error help-block">
                                                {{ form.non_field_errors.as_text|slice:"2:" }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                <div class="row">
                                    <div class="col-lg-12">
                                        <input id="id_username" name="username" type="email" placeholder="Email Address" class="form-control input-block" value="{{ form.username.value|default_if_none:"" }}" autocapitalize="off" autocorrect="off" autofocus required />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <input id="id_password" name="password" type="password" placeholder="Password" class="form-control input-block" value="{{ form.password.value|default_if_none:"" }}" required />
                                    </div>
                                </div>

                                <button id="submit-btn" type="submit" class="save btn btn-action">Sign In!</button>
                            </form>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-lg-12">
                            <span id="link-to-profile-signup-label">Otherwise, <a href="{% url 'uniauth:signup' %}{{ query_params }}">CLICK HERE</a> to create one.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!-- Page specific JS -->
{% block script %}
{% endblock %}
