{% extends 'uniauth/base-site.html' %}

<!-- Page-specific headers -->
{% block head %}

<title>Uniauth | Reset</title>

<style>
</style>

{% endblock %}

<!-- Page Content -->
{% block content %}

<div id="password-reset-done-form-spacer" class="spacer"></div>

<div id="password-reset-done-form-wrapper" class="uniauth-wrapper wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins shadow-lg">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="simple-title centered-title">Reset email sent!</span>
                            <br/>
                            <span class="simple-followup">
                                We have sent an email to the provided email address.
                                <br/><br/>
                                Please click the link in the email to reset your password.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!-- Page specific JS -->
{% block script %}
{% endblock %}
