{% extends 'uniauth/base-site.html' %}

<!-- Page-specific headers -->
{% block head %}

<title>Uniauth | Success</title>

<style>
</style>

{% endblock %}

<!-- Page Content -->
{% block content %}

<div id="verify-success-form-spacer" class="spacer"></div>

<div id="verify-success-form-wrapper" class="uniauth-wrapper wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins shadow-lg">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="simple-title">Verification Successful</span>
                            <br/><br/>
                            <span class="simple-followup">
                                {% if is_signup %}
                                    Your account has been activated!
                                {% else %}
                                    Your email address has been successfully verified.
                                {% endif %}
                                {% if request.user.is_authenticated and next_url %}
                                    <br/><br/>
                                    <a href="{{ next_url }}">Click here</a> to continue.
                                {% elif not request.user.is_authenticated %}
                                    <br/><br/>
                                    <a href="{% url 'uniauth:login' %}{{ query_params }}">Click here</a> to log in.</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!-- Page specific JS -->
{% block script %}
{% endblock %}
